@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-roboto-condensed: "Roboto Condensed", sans-serif;
  --color-vertrural: #007a5e;
}
